# Folder view configuration files
.DS_Store

# Node.js Logs
logs
*.log
npm-debug.log*

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules

# Haxe export folder
_build
bin
bin_test
bin_release

# Misc
BUILD.MD
test.hxml

# just some files we don't want to add to git
docs/csv2md/[WUB] Content structuur - Pagina's & componenten.csv
