/*
default style
*/
html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

textarea {
  outline: none;
  resize: none;
}

/*remember to define focus styles!*/
:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

/*
containers / workbench
*/
#monk_markdown_container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*.icon-blue {
  color: #0088cc;
}
*.icon-grey {
  color: grey;
}
i {
  /* width:100px; */
  text-align: center;
  vertical-align: middle;
}

#workbench_parts_editor_container {
  width: 100%;
  height: 100%;
  display: inline-flex;
}

#workbench_parts_activitybar {
  background-color: #353535;
  display: inline-block;
  width: 50px;
  height: 100%;
  color: white;
  padding-top: 10px;
}

#workbench_parts_editor {
  color: white;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
}

.active {
  border-left: 3px solid white;
  border-right: 3px solid transparent;
}

.monkee-fullpage-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  overflow: auto;
  scroll-behavior: smooth;
}
.monkee-fullpage-list-horizontal {
  display: block ruby;
}
.monkee-fullpage-slide {
  border: 0px solid pink;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/*
buttons
*/
.activitybar-btn {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: white;
  text-align: center;
  opacity: 0.7;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}
.activitybar-btn:hover {
  opacity: 1;
}
.activitybar-top {
  top: 0px;
}
.activitybar-bottom {
  bottom: 0px;
  display: block;
  position: absolute;
  width: 50px;
}
