@import url("https://fonts.googleapis.com/css?family=Domine|Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  transition: background-color 0.5s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Domine", serif;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  color: white;
}

#myHomeSideNav {
  left: initial;
  right: 0;
}
#mySidenav {
  left: 0;
  right: initial;
}

/* The navigation menu links */
.sidenav ul li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav ul {
  list-style: none;
  padding-left: 0;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  background-color: silver;
}

/* Position and style the close button (top right corner) */
/* .sidenav  */

.btn-open .fa,
.btn-home-open .fa,
.btn-close .fa {
  cursor: pointer;
  position: absolute;
  top: 0;
  margin: 5px;
  opacity: 0.3;
}
.btn-home-open .fa {
  right: 0;
}
.btn-open .fa {
  left: 0;
}

.btn-close .fa {
  right: 0;
  z-index: 1;
}

#main {
  transition: margin-left 0.5s;
  transition: margin-right 0.5s;
}
